[submodule "FStar"]
	path = FStar
	url = ../FStar
	branch = kuiper
	depth = 1
[submodule "karamel"]
	path = karamel
	url = https://github.com/FStarLang/karamel
	branch = kuiper
	depth = 1
[submodule "bench/SGEMM_CUDA"]
	path = bench/SGEMM_CUDA
	url = https://github.com/siboehm/SGEMM_CUDA
